html, body {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    background-color: #2d3436;
    background-image: linear-gradient(315deg, #2d3436 0%, #000000 74%);
}

.column {
    width: 100%;
    max-width: 1100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

h1{
    margin: 5px;
    padding-left: 50px;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white;
}

.container{
    display: flex;
}

/* Grill */

#grill{
    max-width: 800px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: column;
    background-color: white;
    user-select: no;
    margin: 10px;
}

.row {
    display: flex;
    flex-grow: 1;
}

.pixel {
    flex-grow: 1;
    height: 100%;
    user-select: none;
    background-color: white;
}

/* Panel */
#panel{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 50%;
}

/* Pallete */
#pallete{
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: grey; */
}

.color {
    width: 20px;
    height: 20px;
    /* outline: 1px solid black; */
    border-radius: 5px;
    margin: 2px;
    transition: all 0.2s;
}

.color:hover{
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 10px -1px rgba(178,178,178,0.96); 
    box-shadow: 0px 0px 10px -1px rgba(178,178,178,0.96);
}

p {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    color: white;
    margin: 5px;
}

#selected {
    width: 30px;
    height: 30px;
    border-radius: 25%;
    border: solid 1px rgb(88, 88, 88);
    background-color: white;
    margin: 5px 5px 20px 5px;
}

/* @media all and (max-width:30em){
     button4{
      display:block;
      margin:0.2em auto;
} */

/* Buttons */

button {
    background: rgb(59, 59, 59);
    height: 40px;
    min-width: 30px;
    margin: 5px;
    padding: 10px;
    border: none;
    border-radius: 10px;
    color: #eee;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    transition: 1s; 
    -webkit-tap-highlight-color: transparent; 
    display: flex;
    align-items: center;
    justify-content: center;
    outline:none;
}

button:hover{
    cursor: pointer;
    background-color: rgb(88, 88, 88);
}

.delete:hover{
    cursor: pointer;
    background-color: rgb(136, 69, 69);
}

@media (max-width: 529px){
    h1{
        font-size: 15px;
    }
    .container{
        flex-direction:column;
    }

    #grill{
        width: 100%;
        height: 270px;
    }

    #panel{
        width: 100%;
        height: 50%;
        /* flex-direction: row; */
    }

    #pallete{
        margin: 5px;
    }

    .color{
        width: 12px;
        height: 12px;
        border-radius: 3px;
        margin: 2px;
    }

    p{
        display: none;
    }

    #selected{
        width: 15px;
        height: 15px;
        margin: 5px;
    }

    button{
        height: 20px;
        font-size: 15px;
    }
}